.App {
  margin: 0px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  width: 100vw;
  height: 100vh;
  overflow : auto;
  display: grid;
  grid-template-rows: 20% auto 5%;
}

@media only screen and (max-width: 376px) {
  .App {
    background-image: url("../public/assets/images/background-pattern-mobile.svg");
  }
}

@media only screen and (min-width: 376px) {
  .App {
    background-image: url("../public/assets/images/background-pattern-desktop.svg");
  }
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: min(75%, 475px);
  height: fit-content;
  grid-row: 2 / 2;
  justify-self: center;
  align-self: start;
  border-radius: 10px;
  padding: 25px;
}

.card h1 {
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: hsl(292, 42%, 14%);
}

.card h1 img {
  width: 25px;
  margin-right: 20px; 
}

.card h2 {
  color: hsl(292, 42%, 14%);
  display: grid;
  align-items: center;
  grid-template-columns: 80% 10% 10%;
  font-size: 16px;
  font-weight: 600;
}

.card h2 p {
  margin: 0;
  grid-column: 1 / 1;
}

.card h2:hover p {
  color: hsl(278, 64%, 53%);
}

.card h2 img {
  justify-self: end;
  grid-column: 3 / 3;
}

.QuestionAnswer {
  border-width: 2px;
  border-top-color: hsla(293, 16%, 49%, 0.084);
}

.answer {
  color: hsl(292, 16%, 49%);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 15px 0;
}


.attribution { 
  align-self: end;
  grid-row: 3 / 3;
  font-size: 11px; 
  text-align: center; 
  margin: 10px auto;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
