.App {
  margin: 0px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 376px) {
  .App {
    background-image: url("../public/assets/images/background-pattern-mobile.svg");
  }
}

@media only screen and (min-width: 376px) {
  .App {
    background-image: url("../public/assets/images/background-pattern-desktop.svg");
  }
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 75%;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 25px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
