.App {
  margin: 0px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 376px) {
  .App {
    background-image: url("../public/assets/images/background-pattern-mobile.svg");
  }
}

@media only screen and (min-width: 376px) {
  .App {
    background-image: url("../public/assets/images/background-pattern-desktop.svg");
  }
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 75%;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 25px;
}

.card h1 {
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: hsl(292, 42%, 14%);
}

.card h1 img {
  width: 25px;
  margin-right: 20px; 
}

.card h2 {
  color: hsl(292, 42%, 14%);
  display: grid;
  align-items: center;
  grid-template-columns: 80% 10% 10%;
  font-size: 16px;
  font-weight: 600;
}

.card h2 p {
  margin: 0;
  grid-column: 1 / 1;
}

.card h2 img {
  grid-column: 3 / 3;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
